<!DOCTYPE html>
<! -- {% load static %} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="../static/styles/sliders.css" />
    <link rel="stylesheet" href="{% static '/styles/style.css' %}"/>
    <title>Event</title>
</head>
<body>
<div id="wrapper">
     <div id="header">
          <div id="logo">
              <a href="../"><h1>go to event</h1></a>
          </div>
          <div id="search">
            <form action="{% url 'search' %}" method="get">
                <div>
                    <input class="text" name="q" size="32" maxlength="64"/>
                </div>
            </form>
          </div>
          <div id="menu">
            {% include 'navbar.html' %}
          </div>
    </div>
    <div id="wraper-slider">
        {% include 'slider.html' %}
    </div>
    <div id="page">
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
        <a class="new_event_button" href="{% url 'event_form' %}" title="Vložit novou akci"><div>+</div></a>
    </div>
</div>
</body>
</html>