<ul>
    <li class="">
        <a href="{% url 'events' %}">Home</a>
    </li>
{#    <--#}
{#    {% if perms.base.add_room %}#}
{#    <li class="">#}
{#        <a href="{% url '' %}">New room</a>#}
{#    </li>#}
{#    {% endif %}#}
{#    {% if perms.base.add_message %}#}
{#    <li class="">#}
{#        <a href="{% url '' %}">New message</a>#}
{#    </li>#}
{#    {% endif %}#}
{#    <li class="last-child">#}
{#      {{ user.username}}#}
{##}
{#        <a href="{% url '' %}">Odhlásit</a>#}
{#    </li> -->#}
</ul>
<br class="clearfix"/>