{% extends 'index.html' %}

{% block content %}
<h1>Aktuální akce</h1>
<ul class="events">
  {% for events in object_list %}
    <li class="event">
        <a href="{% url 'one_event' events.id %}">
        <div class="event_top">
            <h2>{{ events.name }}</h2>
            <h3>{{ events.date_from }}</h3>
            <p>{{ events.description }}</p>
        </div>
        <div class="event_bottom">
            <a href="event_delete/{{ events.id }}">DELETE</a> I
            <a href="event_update/{{ events.id }}">EDIT</a>
        </div>
        <div class="event_response">
            <a class="event_response_yes" href="{% url "response" events.id %}?response=yes"></a>
            <a class="event_response_no" href="{% url "response" events.id %}?response=no"></a>
            <a class="event_response_maybe" href="{% url "response" events.id %}?response=maybe"></a>
        </div>
        </a>
    </li>
  {% endfor %}
</ul>
{% endblock %}