{% extends 'index.html' %}
{% block content %}
<div id="one_event">
    <div class="type_event">Akce v kategorii {{ event.type_event }}</div>
    <h1>{{ event.name }}</h1>
    <div class="base_info">
        <div class="col-1-3">Začátek:<br>{{ event.date_from }}<br>Konec:<br>{{ event.date_to }}</div>
        <div class="col-1-3">Vstupné:<br>{{ event.price }} Kč</div>
        <div class="col-1-3">Místo:<br>{{ event.place }}</div>
    </div>
<div class="tab_menu">
    <div class="tab" onclick="FunctionTab1()">Popis</div>
    <div class="tab" onclick="FunctionTab2()">Diskuze</div>
</div>

<div id="tab_1">
    <div id="detail_desription">
        <p>{{ event.description }}</p>
    </div>
    <div class="order_info">
        <div class="col-1-3"></div>
        <div class="col-1-3"></div>
        <div class="col-1-3"></div>
    </div>
</div>
<div id="tab_2">
    <div id="chatbox">
        <form action="" method="POST">
            {% csrf_token %}
        <input name="message" placeholder="Napiš svůj příspěvek">
        </form>
        <ul>
            {% for message in messages %}
            <li>
                {{ message.message }}<br>
                <em>{{ message.user}}, {{ message.created}}</em>
            </li>
             {% endfor %}
        </ul>
    </div>
</div>
<div id="order_events">Podobné akce</div>
</div>
<script>
function FunctionTab2() {
  document.getElementById("tab_1").style.display = "none";
  document.getElementById("tab_2").style.display = "block";
}
function FunctionTab1() {
  document.getElementById("tab_1").style.display = "block";
  document.getElementById("tab_2").style.display = "none";
}
</script>
{% endblock %}