{% extends 'index.html' %}
{% block content %}
<div id="one_event">
    <div class="categorie_text">Akce v kategorii {{ event.type_event }}</div>
    <h1>{{ event.name }}</h1>
    <div class="base_info">
        <div class="col-1-3">Začátek:<br>{{ event.date_from|date:'d.m.Y - H:i' }}<br>Konec:<br>{{ event.date_to|date:'d.m.Y - H:i' }}</div>
        <div class="col-1-3">Vstupné:<br>{{ event.price }} Kč</div>
        <div class="col-1-3">Místo:<br>{{ event.place }}</div>
    </div>
<div class="tab_menu">
    <div class="tab" onclick="FunctionTab1()">Popis</div>
    <div class="tab" onclick="FunctionTab2()">Diskuze</div>
</div>

<div id="tab_1">
    <div id="detail_desription">
        <p>{{ event.description }}</p>
    </div>
    <div class="order_info">
        <div class="col-1-3"></div>
        <div class="col-1-3"></div>
        <div class="col-1-3">
            {% if request.user.is_authenticated %}
            {% if latest_response.response_type == 'yes' %}
            <i>Seš přihlášen.</i><br>
            <div class="event_response">
            <a class="event_response_no" href="{% url "response" event.id %}?response=no"></a>
            <a class="event_response_maybe" href="{% url "response" event.id %}?response=maybe"></a>
            </div>
            {% elif latest_response.response_type == 'no' %}
            <i>Nerozmyslíš se?</i><br>
            <div class="event_response">
            <a class="event_response_yes" href="{% url "response" event.id %}?response=yes"></a>
            <a class="event_response_maybe" href="{% url "response" event.id %}?response=maybe"></a>
            </div>
            {% elif latest_response.response_type == 'maybe' %}
            <i>Jak se nakonec rozhodneš?</i><br>
            <div class="event_response">
            <a class="event_response_no" href="{% url "response" event.id %}?response=no"></a>
            <a class="event_response_yes" href="{% url "response" event.id %}?response=yes"></a>
            </div>
            {% else %}
            <i>Jak to vidíš?</i><br>
            <div class="event_response">
            <a class="event_response_no" href="{% url "response" event.id %}?response=no"></a>
            <a class="event_response_yes" href="{% url "response" event.id %}?response=yes"></a>
            <a class="event_response_maybe" href="{% url "response" event.id %}?response=maybe"></a>
            </div>
            {% endif %}
            {% endif %}

        </div>
    </div>
</div>
<div id="tab_2">
    <div id="chatbox">
        {% if request.user.is_authenticated %}
        <form action="" method="POST">
            {% csrf_token %}
        <input name="message" placeholder="Napiš svůj příspěvek">
        </form>
        {% else %}
            <h3 style="text-align: center">Přidávat příspěvky mohou pouze registrovaní a přihlášení uživatele. <br>
                <b><a href="{% url 'login' %}">Přihlásit</a> <br> <a href="{% url 'signup' %}">Registrovat</a></b></h3>
        {% endif %}
        <ul>
            {% for message in messages %}
            <li>
                {{ message.message }}<br>
                <em>{{ message.user}}, {{ message.created}}</em>
            </li>
             {% endfor %}
        </ul>

    </div>
</div>
<div id="order_events">
    <h2>Podobné akce</h2>

    {% for event in event.recommended_events %}
    <a href="{% url 'one_event' event.id %}">
        <div class="recommend_event">
            {{ event.name }}<br><br>{{ event.date_from|date:'d.m.Y - H:i' }}
        </div>
    </a>
    {%  endfor %}
</div>
</div>
<script>

function FunctionTab2() {
  document.getElementById("tab_1").style.display = "none";
  document.getElementById("tab_2").style.display = "block";
}
function FunctionTab1() {
  document.getElementById("tab_2").style.display = "none";
  document.getElementById("tab_1").style.display = "block";

}
</script>
{% endblock %}